<template>
	<div>		
        <v-data-table
	    v-bind:headers="headers"
	    v-bind:items="receipts"
	    v-bind:search="search"
	    v-model="selected"
	    selected-key="id"
	    select-all
	    class="elevation-1">		    
		    <template slot="items" scope="props">
		      <td>
		        <v-checkbox
		          primary
		          hide-details
		          v-model="props.selected"
		        ></v-checkbox>
		      </td>
		      <td class="text-xs-right">{{ props.item.id }}</td>
		      <td class="text-xs-right">{{ props.item.value }}</td>
		      <td class="text-xs-right">{{ props.item.payment_status }}</td>
		      <td class="text-xs-right">{{ props.item.emission }}</td>		
		    </template>
        </v-data-table>
	</div>
</template>

<script>
    import axios from 'axios';
    import authService from '../services/AuthService'        
	export default {

		mixins: [authService],

	    data() {
	        return {
	            receipts: [],
	            errorMessage: '',
	            search: '',
		        selected: [],
		        headers: [		          
		          { text: 'Id', value: 'id' },
		          { text: 'Value', value: 'value' },
		          { text: 'Payment status', value: 'payment_status' },
		          { text: 'Emission', value: 'emission' }		         
		        ],
	        }
	    },	    
	    methods: {
		    getReceipts() {
		        var self = this;

		        const token = self.getAuthToken();
		        var config = {
				  headers: {'Moneto-Auth-Token': token }
				};

		        axios.get('https://dev.moneto.com.br/044c9a55/api/receipt_sent', config)
		        .then(function(response) {		            
		            self.receipts = response.data.receipt_sent;		            	            
		        })
		        .catch(function(error) {
		            self.errorMessage = error;
		            console.log(error);
		        });
		            
		    }
		},
	    created: function () {	    		    
		    this.getReceipts();		    
		}	    
	}	
</script>
