<template>
    <div class="container">
        <div class="row">
            <div id="form_div" class="col-sm-4 col-sm-offset-4 col-xs-7 col-xs-offset-2">
                <form v-on:submit.prevent>
                    <h3>Monetary</h3>
                    <v-text-field input type="text" label="CPF" id="cpf" v-model="cpf" required></v-text-field>
                    <v-text-field input type="password" label="Password" id="password" v-model="password" required></v-text-field>
                    <v-btn primary dark type="submit" @click="signIn">LOGIN</v-btn>
                </form>
            </div>
        </div>        
    </div>
</template>

<style>
	#form_div{
		text-align: center;	
		border-radius: 5px;	
		margin-top: 5em;	
	}
</style>

<script>
	import axios from 'axios';
	import authService from '../services/AuthService';	
	export default {

		mixins: [authService],

		data () {
			return {
				cpf: '',
				password: '',
				errorMessage: ''
			}
		},
		methods: {
		    signIn() {
		        var self = this;		       
		        axios.post('https://dev.moneto.com.br/044c9a55/api/safe_login', {
				    cpf: self.cpf,
				    password: self.password,
				    installation_token: '',
				    fiscal_id: ''
				})
				.then(function (response) {				    			    
				    self.setAuthToken(response.data['Moneto-Auth-Token']);
				    self.goReceipts();				    
				})
				.catch(function (error) {
					self.errorMessage = error;
				    console.log(error);
				});	       
		    },
		    goReceipts(){
				this.$router.push('/receipts');
			}
		}
	}
</script>

