<template>
  <v-app light>
  <v-navigation-drawer v-model="sideNav" temporary>
    <v-list>
      <v-list-tile v-for="item in menuItems" :key="item.title" router :to="item.link">
        <v-list-tile-action>
          <v-icon>{{item.icon}}</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>{{item.title}}</v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-navigation-drawer>
  <v-toolbar dark class="primary">
    <v-toolbar-side-icon @click.native.stop="sideNav = !sideNav"
    class="hidden-sm-and-up">      
    </v-toolbar-side-icon>    
    <v-toolbar-title>
      <router-link to="/" tag= "span" style="cursor: pointer">Monetary</router-link>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <v-toolbar-items class="hidden-xs-only">
      <v-btn flat v-for="item in menuItems" :key="item.title" router :to="item.link">
        <v-icon dark left>{{item.icon}}</v-icon>{{item.title}}
      </v-btn>      
    </v-toolbar-items>
  </v-toolbar>
    <main>
      <router-view></router-view>
    </main>     
    <v-footer :fixed="footerFixed">
      <span>Monetary &copy; 2017</span>
    </v-footer>    
  </v-app>
</template>

<script>
  export default {
    data () {
      return {
        sideNav: false,
        footerFixed: false,
        menuItems: [
          {icon: 'insert_drive_file', title: 'Receipts', link: '/receipts'},
          {icon: 'contacts', title: 'Clients', link: '/clients'},
          {icon: 'face', title: 'Sign Up', link: '/signup'},
          {icon: 'lock_open', title: 'Sign In', link: '/signin'}
        ]
      }
    }
  }
</script>

<style lang="stylus">
  @import './stylus/main'
</style>
